<footer class="footer text-center">
  <div id="redes">
    <div class="redes px-6 px-lg-8">
        <ul class="list-inline mt-7">
            <li class="list-inline-item">
                <a class="social-link rounded-circle" href="https://www.facebook.com/elGiganteDrugstore/"><i class="icono fa-brands fa-facebook m-3"></i></a>
            </li>
            <li class="list-inline-item">
              <a class="social-link rounded-circle" href="https://www.instagram.com/elgigantedrugstore/"><i class="icono2 fa-brands fa-instagram-square m-3"></i></a>
          </li>
        </ul>
        <p class="text-muted small mb-3">Copyright by BRUNO FERREYRA &copy; Your Website 2022</p>
      </div>
      </div>
      </footer>