  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav  me-auto my-2 my-lg-0" >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Registro</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Productos
          </a>
          <ul class="dropdown-menu text-white" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/alcohol">Alcohol</a></li>
            <li><a class="dropdown-item" href="/bebidas">Bebidas</a></li>
            <li><a class="dropdown-item" href="/comestibles">Comestibles</a></li>
             <li><a class="dropdown-item" href="/limpieza">Limpieza</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#redes">Redes Sociales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/experiencia">Tu Experiencia</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscador" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>