<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/producto1.css">
    <script src="https://kit.fontawesome.com/b80c787d72.js" crossorigin="anonymous"></script>
    <title> {{titulo}} </title>
</head>
<header>
  {{> navbar}}
</header>
<header>
  <header class="banner"></header>
</header>

<body> 
  <h1 class="bebidas text-center text-dark"> BEBIDAS </h1>
  <div class="productosFlex">
  <div class="Inventario col-sm-6 col-md-4 col-lg-3">
  <div class="row">
  <div class="card" style="width: 18rem;">
    <img src="/imagenes/productos/coca-de-3lt.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Coca Cola de 3lt Descartable</h5>
      <h5>Precio $380</h5>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div></div>
  </div>
</div>
<div class="Inventario col-sm-6 col-md-4 col-lg-3">
  <div class="row">
  <div class="card" style="width: 18rem;">
    <img src="/imagenes/productos/coca-de-2.25lt.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Coca Cola de 2.25lt Desc.</h5>
            <h5>Precio $300</h5>
            <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div></div>
  </div>
</div>
<div class="Inventario col-sm-6 col-md-4 col-lg-3">
  <div class="row">
  <div class="card" style="width: 18rem;">
    <img src="/imagenes/productos/coca-de-2.25lt-zero.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Coca Cola de 2.25lt Zero Desc</h5>
            <h5>Precio $300</h5>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div></div>
  </div>
</div>
<div class="Inventario col-sm-6 col-md-4 col-lg-3">
  <div class="row">
  <div class="card" style="width: 18rem;">
    <img src="/imagenes/productos/coca-15-Lts.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Coca Cola de 1.5lt Descartable</h5>
            <h5>Precio $250</h5>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div></div>
  </div>
</div>
      <div class="Inventario col-sm-6 col-md-4 col-lg-3">
      <div class="row">
      <div class="card" style="width: 18rem;">
        <img src="/imagenes/productos/pepsi-3-Lt.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pepsi cola de 3lt Descartable</h5>
                <h5>Precio $360</h5>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
      </div></div>
    </div>
    <div class="Inventario col-sm-6 col-md-4 col-lg-3">
      <div class="row">
      <div class="card" style="width: 18rem;">
        <img src="/imagenes/productos/pepsi-cola-225-lts.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pepsi Cola de 2.25lt Desc.</h5>
                <h5>Precio $280</h5>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div></div>
      </div>
    </div>
    <div class="Inventario col-sm-6 col-md-4 col-lg-3">
      <div class="row">
      <div class="card" style="width: 18rem;">
        <img src="/imagenes/productos/pepsi-black-225-Lts.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pepsi black de 2.25lt Desc</h5>
                <h5>Precio $250</h5>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div></div>
      </div>
    </div>
    <div class="Inventario col-sm-6 col-md-4 col-lg-3">
      <div class="row">
      <div class="card" style="width: 18rem;">
        <img src="/imagenes/productos/pepsi-15-Lts.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pepsi cola de 1.5lt Descartable</h5>
                <h5>Precio $180</h5>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div></div>
      </div>
    </div>
      
    </div>

    {{> footer}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>


</html>
