<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/producto1.css">
    <script src="https://kit.fontawesome.com/b80c787d72.js" crossorigin="anonymous"></script>
    <title> {{titulo}} </title>
</head>
<header>
   {{> navbar}}
</header>
<header>
  <header class="banner"></header>
</header>

<body> 
  <h1 class="comestibles text-center text-dark">COMESTIBLES</h1>
  <div class="productosFlex">
  <div class="Inventario col-sm-6 col-md-4 col-lg-3">
  <div class="row">
  <div class="card" style="width: 18rem;">
    <img src="/imagenes/productos/cbse.webp" class="card-img-top" alt="yerba cbse">
    <div class="card-body">
      <h5 class="card-title">Yerba mate Cbsé 500gr</h5>
            <h5>Precio $350</h5>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div></div>
  </div>
</div>
<div class="Inventario col-sm-6 col-md-4 col-lg-3">
  <div class="row">
  <div class="card" style="width: 18rem;">
    <img src="/imagenes/productos/leche-desc.webp"class="card-img-top" alt="leche descremada">
    <div class="card-body">
      <h5 class="card-title">Leche Manfrey larga vida</h5>
            <h5>Precio $180</h5>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div></div>
  </div>
</div>
<div class="Inventario col-sm-6 col-md-4 col-lg-3">
  <div class="row">
  <div class="card" style="width: 18rem;">
    <img src="/imagenes/productos/nescafe.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nescafe inst. 100gr</h5>
            <h5>Precio $320</h5>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div></div>
  </div>
</div>
<div class="Inventario col-sm-6 col-md-4 col-lg-3">
  <div class="row">
  <div class="card" style="width: 18rem;">
    <img src="/imagenes/productos/azucar.jpg" class="card-img-top" alt="azucar 1kg">
    <div class="card-body">
      <h5 class="card-title">Azucar 1kg</h5>
                  <h5>Precio $140</h5>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div></div>
  </div>
</div>
      <div class="Inventario col-sm-6 col-md-4 col-lg-3">
      <div class="row">
      <div class="card" style="width: 18rem;">
        <img src="/imagenes/productos/harina.jpg" class="card-img-top" alt="harina 0000">
        <div class="card-body">
          <h5 class="card-title">Harina Graciela Real "0000"</h5>
                      <h5>Precio $160</h5>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div></div>
      </div>
    </div>
    <div class="Inventario col-sm-6 col-md-4 col-lg-3">
      <div class="row">
      <div class="card" style="width: 18rem;">
        <img src="/imagenes/productos/arroz-noble.jpg" class="card-img-top" alt="arroz noble">
        <div class="card-body">
          <h5 class="card-title">Arroz Noble 500gr</h5>
                      <h5>Precio $100</h5>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div></div>
      </div>
    </div>
    <div class="Inventario col-sm-6 col-md-4 col-lg-3">
      <div class="row">
      <div class="card" style="width: 18rem;">
        <img src="/imagenes/productos/tallarines.webp" class="card-img-top" alt="Tallarines Knor">
        <div class="card-body">
          <h5 class="card-title">Tallarines Knor 500gr</h5>
                      <h5>Precio $100</h5>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div></div>
      </div>
    </div>
    <div class="Inventario col-sm-6 col-md-4 col-lg-3">
      <div class="row">
      <div class="card" style="width: 18rem;">
        <img src="./imagenes/productos/celusal.webp" class="card-img-top" alt="celusal">
        <div class="card-body">
          <h5 class="card-title">Celusal fina 500gr<h5>
            <h5>Precio $80</h5>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div></div>
      </div>
    </div>
      </div>
    </div>

    {{> footer}}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>


</html>
