<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b80c787d72.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/registro.css">
    <title> {{titulo}} </title>
</head>
<body>     
    <form class="formulario">
        <h1>Registro</h1>
        <div class="contenedor">
            <div class="input-contenedor"> 
                <i class="fas fa-user icon"></i>
                <input id="user" name="user" type="text" value placeholder="Nombre de Usuario" required>
            </div>
            <div class="input-contenedor">
                <i class="fa-solid fa-location-arrow icon"></i>
                <input id="direction" name="direction" type="text" value placeholder="Direccion" required>
            </div>
                <div class="input-contenedor">
                    <i class="fas fa-envelope icon"></i>
                <input id="mail" name="mail" type="email" value placeholder="Correo" required>
            </div>
                <div class="input-contenedor">
                    <i class="fa-solid fa-phone icon"></i>
                <input id="phone" name="phone" type="tel" value placeholder="Numero de contacto" required>
            </div>
            <div class="input-contenedor"> 
                <i class="fa fa-key icon"></i>
                <input id="pass" name="pass" type="password" value placeholder="Contraseña" required>
            </div>
             <div>
                <input type="submit" value="Registrate" class="button">
                <p>Al registrarse, aceptas nuestras Condiciones de uso y Politica de privacidad</p>
                <p>Ya tienes cuenta? <a class="link" href="/login">Inicia Sesion</a></p>
            </div>
            </div>
              </div>






    </form>
    
</body>
</html>